<app-map [chapter]="chapter" class="container h-100"> </app-map>

<div class="container h-100 walk-player">
  <div class="row flex-column justify-content-center h-100 py-3">
    <div *ngIf="chapter" class="col-lg-6 col-md-8 mb-auto mx-auto">
      <app-chapter-info [chapter]="chapter" [chapterIndex]="chapterIndex!"
        [chapterCount]="chapterCount"></app-chapter-info>
    </div>

    <div *ngIf="track" class="col-lg-6 col-md-8 mx-auto" [ngSwitch]="track.type">
      <app-player *ngSwitchCase="'audio'" [track]="track" [autoPlay]="false" (progress)="saveProgress($event)"
        (nextChapter)="nextChapter()">
        <app-player-menu>
          <app-player-menu-item routerLink="/" class="text-danger">
            <i class="bi bi-x-circle-fill"></i> Opustit audiowalk
          </app-player-menu-item>
          <app-player-menu-item routerLink="/chapters">
            <i class="bi bi-list-ol"></i> Přehled kapitol
          </app-player-menu-item>
          <app-player-menu-item (click)="nextChapter()">
            <i class="bi bi-fast-forward-fill"></i> Další kapitola
          </app-player-menu-item>
        </app-player-menu>
      </app-player>
      <app-video *ngSwitchCase="'video'" [track]="track"></app-video>
    </div>
  </div>
</div>