<div class="content">
  <h2>Než začnete&hellip;</h2>

  <div class="box">
    <div class="icon">
      <img src="assets/img/icons/location.svg" alt="Telefon" />
    </div>
    <div class="content">
      <h3>Dojděte před budovu Rudolfina, Nádražní&nbsp;28, Praha&nbsp;1</h3>
      <button>Navigovat</button>
    </div>
  </div>

  <div class="box">
    <div class="icon">
      <img src="assets/img/icons/headphones.svg" alt="Telefon" />
    </div>
    <div class="content">
      <h3>Připojte sluchátka</h3>
      <button>Otestujte hlasitost</button>
    </div>
  </div>

  <div class="box">
    <div class="icon">
      <img src="assets/img/icons/headphones.svg" alt="Telefon" />
    </div>
    <div class="content">
      <h3>Offline verze</h3>
      <button>Download</button>
    </div>
  </div>

  <div class="warning">
    <h2>Prosím dávejte pozor!</h2>
  </div>
</div>

<div class="footer">
  <button class="primary" routerLink="/walk">Spustit audiowalk</button>
</div>
