<app-page>
  <app-page-content>
    <div class="container-sm h-100">
      <div class="h-100 d-flex flex-column text-center">
        <div class="row flex-grow-1 d-flex align-items-center justify-content-center"
          *ngIf="currentChapter === Chapter.navigation">
          <div class="col-lg-6">
            <i class="bi bi-person-walking fs-0"></i>
            <div class="mt-3">
              <h2>Začátek trasy</h2>
              <p class="mt-3">Trasa začíná u&nbsp;Nové scény Národního Divadla,<br />má 7&nbsp;zastávek a trvá zhruba
                70&nbsp;minut.</p>
              <p class="mt-1">Dojděte k&nbsp;Srdci pro Václava Havla<br />(piazetta Národního divadla) na&nbsp;Starém
                Městě
              </p>
              <button class="btn btn-outline-primary mt-3" (click)="openNavigation()">
                Navigovat&nbsp;&nbsp;&nbsp;<i class="bi bi-box-arrow-up-right"></i></button>
            </div>
          </div>
        </div>
        <div class="row flex-grow-1 d-flex align-items-center justify-content-center"
          *ngIf="currentChapter === Chapter.sound">
          <div class="col-lg-6">
            <i class="bi bi-earbuds fs-0"></i>
            <div class="mt-3">
              <h2>Test přehrávání</h2>
              <p class="mt-3">Připojte sluchátka a vyzkoušejte zvuk kliknutím na ikonku.</p>
              <p class="mt-1">Přehrávání zvuku pokračuje i po zhasnutí vašeho displeje.</p>
              <div class="mt-5">
                <app-player [track]="testTrack" mode="light"></app-player>
              </div>
            </div>
          </div>
        </div>
        <div class="row flex-grow-1 d-flex align-items-center justify-content-center"
          *ngIf="currentChapter === Chapter.download">
          <div class="col-lg-6">
            <i class="bi bi-cloud-download fs-0"></i>
            <div class="mt-3">
              <h2>Offline</h2>
              <p class="mt-3">
                Doporučujeme si stáhnout audiowalku<br>do mobilního zařízení.
              </p>
              <p class="mt-1">Stažení můžete provést předem,<br />webový prohížeč si jej uloží ikdyž jej ukončíte.
              </p>
              <div class="mt-3" *ngIf="downloadStatus | async as state" [ngSwitch]="state">
                <div *ngSwitchCase="'not-downloaded'">

                  <button class="btn btn-outline-primary" (click)="download()">
                    Stáhnout <i class="bi bi-download"></i>
                  </button>
                  <p class="text-secondary">(cca 70MB)</p>
                </div>
                <p *ngSwitchCase="'downloading'">
                  <i class="bi bi-hourglass-split"></i><br>Stahuji... {{ downloadProgress | async | percent }}
                </p>
                <p *ngSwitchCase="'checking'">
                  <i class="bi bi-hourglass-split"></i> Kontroluji...
                </p>
                <p class="text-success" *ngSwitchCase="'downloaded'">
                  <i class="bi bi-check-circle"></i> Hotovo, audiowalk je připraven pro offline použití!
                </p>

                <p class="text-warning mt-2" *ngSwitchCase="'error'">
                  <i class="bi bi-emoji-frown"></i>
                  Nastala Chyba při stahování.<br />
                  <button class="btn btn-outline-primary" (click)="download()">Zkusit znovu</button>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row flex-grow-1 d-flex align-items-center justify-content-center"
          *ngIf="currentChapter === Chapter.attention">
          <div class="col-lg-6">
            <i class="bi bi-heart fs-0"></i>
            <div class="mt-3">
              <h2>Bezpečnost</h2>
              <p class="mt-3">
                Prosím i&nbsp;ponořeni v&nbsp;příběhu vnímejte svět kolem vás. A&nbsp;to nejen abyste vnímali prostředí
                současné Prahy.
              </p>

              <button class="btn btn-primary mt-3" routerLink="/walk">
                Spustit audiowalk <i class="bi bi-play-circle-fill"></i>
              </button>

              <p *ngIf="!downloadSkipped && (downloadStatus | async) !== 'downloaded'" class="text-warning mt-2">
                Přehrávání bude stahovat<br>data o objemu cca 70MB!
              </p>
            </div>
          </div>
        </div>
        <footer class="row py-4 w-100">
          <div class="col-4 d-flex align-items-center">
            <button type="button" class="btn btn-link text-secondary" (click)="backChapter()">
              Zpět</button>
          </div>
          <div class="col-4 d-flex align-items-center justify-content-center">
            <i *ngFor="let chapter of chapterOrder; let i = index"
              [class]="'bi bi-dot fs-3 ' + ((chapterOrder.indexOf(chapter) === chapterOrder.indexOf(currentChapter)) ? '' : 'text-secondary-emphasis')"></i>
          </div>
          <div class="col-4 d-flex align-items-center justify-content-end">
            <button class="btn btn-primary" (click)="nextChapter()"
              *ngIf="chapterOrder.indexOf(currentChapter) !== chapterOrder.length - 1">
              Další
            </button>
          </div>
        </footer>
      </div>
    </div>
  </app-page-content>
</app-page>