.box {
  margin-top: 1em;
  display: flex;
  flex-direction: row;

  .icon {
    padding: 1em;
    img {
      width: 30px;
    }
  }

  .content {
    padding: 1em 0 1em 1em;
  }

  h3 {
    margin: 0 0 1em 0;
  }
  p {
    margin: 0 0 2em 0;
  }
}

.warning {
  margin-top: 1em;
}
