<app-page>
  <app-page-content>
    <h2>Než začnete&hellip;</h2>

    <div class="box">
      <div class="icon">
        <img src="assets/img/icons/location.svg" alt="Telefon" />
      </div>
      <div class="content">
        <h3>Dojděte před budovu Rudolfina, Nádražní&nbsp;28, Praha&nbsp;1</h3>
        <button (click)="openNavigation()">Navigovat</button>
      </div>
    </div>

    <div class="box">
      <div class="icon">
        <img src="assets/img/icons/headphones.svg" alt="Telefon" />
      </div>
      <div class="content">
        <h3>Připojte sluchátka a vyzkoušejte zvuk</h3>
        <div class="test">
          <app-player title="Testovací nahrávka" url="assets/audio/spejbl-1.mp3"></app-player>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="icon">
        <img src="assets/img/icons/headphones.svg" alt="Telefon" />
      </div>
      <div class="content">
        <h3>Offline verze</h3>
        <div *ngIf="downloadStatus | async as state" [ngSwitch]="state">
          <button *ngSwitchCase="'idle'" (click)="download()">Download</button>
          <button *ngSwitchCase="'error'" (click)="download()">Download</button>
          <p *ngSwitchCase="'downloading'">Stahuji... {{ downloadProgress | async | percent }}</p>
          <p *ngSwitchCase="'downloaded'">Staženo.</p>
          <p *ngSwitchCase="'error'">Nastala Chyba při stahování.</p>
        </div>
      </div>
    </div>

    <div class="warning">
      <h2>Prosím dávejte pozor!</h2>
    </div>
  </app-page-content>

  <app-page-footer>
    <button class="primary" routerLink="/walk">Spustit audiowalk</button>
  </app-page-footer>
</app-page>
