<div class="controls">
  <button class="icon" (click)="rewind()"><img src="assets/img/icons/rewind.svg" alt="Rewind" /></button>

  <button *ngIf="status === 'paused'" class="icon" (click)="play()">
    <img src="assets/img/icons/play.svg" alt="Play" />
  </button>
  <button *ngIf="status === 'playing'" class="icon" (click)="pause()">
    <img src="assets/img/icons/pause.svg" alt="Pause" />
  </button>

  <button class="icon" (click)="onNext.emit()">
    <img src="assets/img/icons/next.svg" alt="Next" />
  </button>
</div>

<div class="progress">
  <div class="total-time">{{ totalTime | time }}</div>
  <div class="current-time">{{ currentTime | time }}</div>
  <app-progress-bar [progress]="progress"></app-progress-bar>
</div>

<audio #audioPlayer id="myAudio">Your browser does not support the audio tag.</audio>