:host {
  display: block;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1.5em 2em;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.progress {
  margin-top: 1em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 6px;
  border-radius: 3px;
  position: relative;

  .progress-bar {
    background-color: #fff;
    height: 100%;
    border-radius: 3px;
  }

  .total-time {
    position: absolute;
    right: 0;
    bottom: 100%;
    font-size: 0.5em;
  }

  .current-time {
    position: absolute;
    left: 0;
    bottom: 100%;
    font-size: 0.5em;
  }
}
