:host {
  display: block;
  border-radius: 20px;

  padding: 2em 2em;

  background-color: rgba(0, 0, 0, 0.7);

  backdrop-filter: blur(10px);
  height: 10em;
  max-width: 100em;
}

:host.light {
  background-color: rgba(255, 255, 255, 0.2);
}

.controls-box {
  padding: 0;


  .button-icon {
    width: 5em;
    height: 5em;
    position: relative;
    border-radius: 100%;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transform-origin: center center;

    img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;

      transition-duration: 0.2s;
      transition-timing-function: ease-out;
      transform-origin: center center;
    }
  }

  .button-playpause {
    img {
      transform: scale(0);
    }

    img.active {
      transform: scale(1);
    }
  }

  .button-icon:hover {
    background: rgba(255, 255, 255, .1);

    img.active {
      transform: scale(.9);
    }
  }
}

.progress-box {
  width: 100%;
  position: relative;

  .total-time {
    color: rgba(255, 255, 255, 0.33);
    position: absolute;
    right: 0;
    top: 12px;
    font-size: 0.5em;
  }

  .current-time {
    color: rgba(255, 255, 255, 0.33);
    position: absolute;
    left: 0;
    top: 12px;
    font-size: 0.5em;
  }
}