:host {
  display: block;
  border-radius: 20px;

  padding: 1.5em 2em;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;

  .icon {
    width: 40px
  }
}

.progress {
  margin-top: 1em;
  width: 100%;
  position: relative;

  .total-time {
    position: absolute;
    right: 0;
    bottom: 100%;
    font-size: 0.5em;
  }

  .current-time {
    position: absolute;
    left: 0;
    bottom: 100%;
    font-size: 0.5em;
  }
}