:host {
  display: block;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);

  h1 {
    font-size: 64px;
    line-height: 68px;
  }
}

sup {
  font-size: 40%;
}

svg {
  width: 40px;
}

p {
  font-size: 80%;
}

hr {
  opacity: .67;
}

.track-info {
  opacity: .67;
}

.text-walk-duration {
  font-family: "Roboto Flex";
  font-size: 12px
}