.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(28, 28, 28);

  #originalSvg {
    display: none;
  }

  #wrapper {
    height: 100%;
    width: 100%;
    position: relative;

    svg {
      height: 1504.5px;
      width: 1301.75px;
      position: absolute;
      transition-duration: 1s;
      transition-timing-function: ease-in-out;
      transform: scale(1);
      transform-origin: 750px 650px;
      z-index: 1;
    }


    canvas {
      position: absolute;
      height: 1504.5px;
      width: 1301.75px;
      transition-duration: 1s;
      transition-timing-function: ease-in-out;
      transform: scale(1);
      transform-origin: 750px 650px;
    }

    img {
      position: absolute;
      height: 1504.5px;
      width: 1301.75px;
      transition-duration: 1s;
      transition-timing-function: ease-in-out;
      transform: scale(1);
      transform-origin: 750px 650px;
    }


    #outputSvgClone,
    #outputCanvas {
      display: none;
    }

  }
}