.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(28, 28, 28);

  #originalSvg {
    display: none;
  }

  #wrapper {
    height: 100%;
    width: 100%;
    position: relative;

    svg {
      position: absolute;
      height: 10000px;
      width: 10000px;
    }
  }
}