<app-page>
  <app-page-content>
    <div class="container-sm">
      <div class="row text-center">
        <div class="col">

          <h3 class="mt-5 mb-5">Příběh je u konce&hellip;</h3>

          <app-video *ngIf="endTrack" [track]="endTrack"></app-video>

          <h3 class="mt-5">Líbil se vám audiowalk?</h3>

          <button class="btn btn-outline-primary" (click)="share()">Sdílet na facebook</button>
          <button class="btn btn-outline-primary" (click)="share()">Sdílet na instagram</button>

          <h2 class="mt-3 mb-5">Děkujeme!</h2>

          <button class="btn btn-primary mt-3 mb-5" routerLink="/">Návrat na úvod <i
              class="bi bi-arrow-right"></i></button>
        </div>
      </div>
    </div>
  </app-page-content>
</app-page>